{{#each items}}
    <li>
        <span class="cat-name">{{Name}}</span>
        <button class="cat-delete" data-id="{{_id}}">Delete</button>
        {{#if Children}}
            <ul class="level-{{../level}}">
                {{> category_tree items=Children level=(inc ../level)}}
            </ul>
        {{/if}}
    </li>
{{/each}}
