<select name="{{transaction}}">
    {{#each categories}}
        <option {{#isEqual Code ../current}}selected{{/isEqual}} value="{{Code}}">
            {{Name}}
        </option>
    {{/each}}
</select>
