.chart-page {
  .page-header {
    border-bottom: solid $color-cool-grey .5px;
    margin-bottom: 20px;

    .page-title {
      font-size: 2.2em;
    }

    .controls {
      padding-bottom: 4px;

      .toggle {
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        margin-right: 25px;
        position: relative;

        &:after {
          border-radius: 3px;
          content: ' ';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
        }

        &.active:after {
          border: solid 3px $color-blue-crayola;
        }

        &:hover:after {
          border: solid 3px $color-green-ryb;
        }
      }
    }
  }
}
