.transaction-list {
  .page-header {
    border-bottom: solid $color-cool-grey .5px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .page-title {
      font-size: 2.2em;
    }

    .controls {
      display: flex;
      align-items: center;
      padding: 10px 20px;

      .button {
        background-color: $color-cerulean-blue;
        border-radius: 8px;
        cursor: pointer;
        color: $color-white;
        padding: 10px 20px;
        font-weight: 700;
      }
    }
  }

  .transaction-table {
    display: flex;
    flex-direction: column;
    border: none;

    .header {
      font-weight: 800;
      border-bottom: 1px solid $color-royal-blue-dark;
      display: flex;
      align-items: center;
      padding: 10px 0;

      .column {
        flex-basis: 20%;
        flex-grow: 1;
        padding: 0 10px;
        text-align: center;
        display: block;

        &.wide {
          flex-basis: 30%;
        }

        &.narrow {
          flex-basis: 10%;
        }
      }
    }
  }
}
