<html>
<head>
    <title>Transaction Categories</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>

<div class="category-wrapper">
    <h1>Transaction Categories</h1>
    <div class="cat-tree">
        <ul class="cat-tree-subtree level-0">
            {{> category_tree items=topLevel level=1}}
        </ul>
    </div>
    <div class="cat-create-form-wrapper">
        <form action="categories/new" class="cat-create-form" method="POST">
            <h3 class="cat-new-heading">Add a new category</h3>

            <label class="cat-label" for="cat-new-name">Name</label>
            <input id=cat-new-name type="text" name="name">

            <label class="cat-label" for="cat-sel-new">Parent</label>
            {{> category_select categories=flatList identifier='new' flat=true}}
            <span class="cat-parent-notice">Leave empty for root category</span>

            <button class="cat-new-submit" type="submit">Add</button>
        </form>
        <script>
            $(document).ready(() => {
              $('.cat-delete')
                      .on('click', deleteCategory);
            });

            function deleteCategory(event) {
                const button = $(event.target);
                const branch = button.closest('.cat-tree-branch')
                        .first();
                const categoryId = button.data('id');

                if (!categoryId) return;

                $.post('/categories/delete', { Id: categoryId }, () => {
                    branch.remove();
                }).fail(() => {
                  alert('Failed to delete category!');
                });
            }
        </script>
    </div>
</div>
</body>
</html>
