<html>
<head>
    <title>Data Charts</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>

<div class="chart-wrapper">
    <h1>Data Charts</h1>
    <div class="chart chart-spending">
        <h2>Spending</h2>
    </div>
</div>
</body>
</html>
