<html>
<head>
    <title>Data Charts</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>

<div class="chart-wrapper">
    <h1>Data Charts</h1>
    <div class="chart chart-spending">
        <h2>Spending</h2>
        <script src="/javascripts/charts/line.js"></script>
        <script>
            drawLineChart({{json monthlySpending}})
        </script>
    </div>
</div>
</body>
</html>
