<html>
  <head>
    <title>Budget App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Budget App</h1>
    <p>Click the button to go to the upload screen</p>
    <a href="upload">Go to Upload screen</a>
  </body>
</html>
