body {
  background-color: $color-cultured;
  font: 14px $font-proxima-nova;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

a {
  color: $color-cool-grey;
  text-decoration: none;
}

fieldset {
  border: 0;
}

label {
  color: $color-black;
  font-size: 1em;
  font-weight: 700;
}

legend {
  color: $color-royal-blue-dark;
  font-size: 1.3em;
  font-weight: 700;
}


