@import url("../fonts/proxima-nova/stylesheet.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  background-color: #F6F6FA;
  font: 14px "Proxima Nova Rg", "Segoe UI", Roboto, sans-serif;
  margin: 0; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

a {
  color: #8A89A4;
  text-decoration: none; }

fieldset {
  border: 0; }

label {
  color: #000;
  font-size: 1em;
  font-weight: 700; }

legend {
  color: #1E2060;
  font-size: 1.3em;
  font-weight: 700; }

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

#page-content {
  padding: 40px;
  flex-grow: 1; }

.navigation {
  flex-basis: 200px;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0; }

.transaction-list .page-header {
  border-bottom: solid #8A89A4 0.5px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .transaction-list .page-header .page-title {
    font-size: 2.2em; }
  .transaction-list .page-header .controls {
    display: flex;
    align-items: center;
    padding: 10px 20px; }
    .transaction-list .page-header .controls .button, .transaction-list .page-header .controls .statement-upload-page .file-upload-input::before, .statement-upload-page .transaction-list .page-header .controls .file-upload-input::before {
      background-color: #3F54D2;
      border-radius: 8px;
      cursor: pointer;
      color: #FFF;
      padding: 10px 20px;
      font-weight: 700; }

.transaction-list .transaction-table {
  display: flex;
  flex-direction: column;
  border: none; }
  .transaction-list .transaction-table .header {
    font-weight: 800;
    border-bottom: 1px solid #1E2060;
    display: flex;
    align-items: center;
    padding: 10px 0; }
    .transaction-list .transaction-table .header .column {
      flex-basis: 20%;
      flex-grow: 1;
      padding: 0 10px;
      text-align: center;
      display: block; }
      .transaction-list .transaction-table .header .column.wide {
        flex-basis: 30%; }
      .transaction-list .transaction-table .header .column.narrow {
        flex-basis: 10%; }

.index-page {
  text-align: center; }
  .index-page h1 {
    color: #12153E; }
  .index-page p {
    color: #1E2060; }

.statement-upload-page .page-header {
  border-bottom: solid #8A89A4 0.5px;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .statement-upload-page .page-header .page-title {
    font-size: 2.2em; }

.statement-upload-page .button, .statement-upload-page .file-upload-input::before {
  background-color: #3F54D2;
  border-radius: 8px;
  cursor: pointer;
  color: #FFF;
  padding: 10px 20px;
  font-weight: 700; }

.statement-upload-page .statement-form {
  align-items: center;
  display: flex;
  flex-direction: column; }
  .statement-upload-page .statement-form .bank-select-wrapper {
    margin: 15px; }
    .statement-upload-page .statement-form .bank-select-wrapper .bank-label {
      font-weight: 700; }
    .statement-upload-page .statement-form .bank-select-wrapper .select2-container {
      margin: 10px;
      overflow: visible;
      border: #3F54D2 2px solid;
      border-radius: 8px;
      font-weight: 700; }
  .statement-upload-page .statement-form .button-submit {
    max-width: 100px;
    margin: 15px; }

.statement-upload-page .file-upload-input {
  color: transparent;
  display: block;
  margin: 15px;
  height: 35px;
  width: 155px; }
  .statement-upload-page .file-upload-input::-webkit-file-upload-button {
    visibility: hidden; }
  .statement-upload-page .file-upload-input::before {
    content: 'Upload statement';
    display: inline-block; }
  .statement-upload-page .file-upload-input:hover::before {
    border-color: black; }

.category-page .page-header {
  border-bottom: solid #8A89A4 0.5px;
  display: flex;
  flex-basis: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .category-page .page-header .page-title {
    font-size: 2.2em; }

.category-page .category-view-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .category-page .category-view-wrapper .cat-create-form-wrapper .cat-new-label {
    font-weight: 700; }
  .category-page .category-view-wrapper .cat-create-form-wrapper .cat-new-parent-select {
    margin: 15px 0; }

.category-page .button, .category-page .statement-upload-page .file-upload-input::before, .statement-upload-page .category-page .file-upload-input::before {
  background-color: #3F54D2;
  border-radius: 8px;
  cursor: pointer;
  color: #FFF;
  padding: 10px 20px;
  font-weight: 700; }

.chart-page .page-header {
  border-bottom: solid #8A89A4 0.5px;
  margin-bottom: 20px; }
  .chart-page .page-header .page-title {
    font-size: 2.2em; }
  .chart-page .page-header .controls {
    padding-bottom: 4px; }
    .chart-page .page-header .controls .toggle {
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      margin-right: 25px;
      position: relative; }
      .chart-page .page-header .controls .toggle:after {
        border-radius: 3px;
        content: ' ';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%; }
      .chart-page .page-header .controls .toggle.active:after {
        border: solid 3px #5A7FF1; }
      .chart-page .page-header .controls .toggle:hover:after {
        border: solid 3px #83C03F; }

.category-wrapper, .transaction > .category-wrapper.column {
  display: flex;
  justify-content: space-evenly; }
  .category-wrapper .button-tiny, .transaction > .category-wrapper.column .button-tiny {
    background-color: #3F54D2;
    border-radius: 8px;
    cursor: pointer;
    color: #FFF;
    padding: 3px 5px;
    font-weight: 700; }

.select2-container .cat-option.level-0 {
  padding-left: 20px; }

.select2-container .cat-option.level-1 {
  padding-left: 35px; }

.select2-container .cat-option.level-2 {
  padding-left: 50px; }

.select2-container .cat-option.level-3 {
  padding-left: 75px; }

.select2-container .cat-optgroup.level-0 {
  padding-left: 15px; }

.select2-container .cat-optgroup.level-1 {
  padding-left: 30px; }

.select2-container .cat-optgroup.level-2 {
  padding-left: 45px; }

.navigation {
  background-color: #FFF; }
  .navigation .menu {
    display: flex;
    flex-direction: column; }
    .navigation .menu .menu-item {
      display: flex;
      margin: 10px 0;
      padding: 10px 10px 10px 30px;
      height: 25px;
      line-height: 25px;
      text-align: left;
      flex-wrap: nowrap; }
      .navigation .menu .menu-item:hover {
        background: linear-gradient(90deg, #F6F6FA 15%, transparent 50%);
        border-left: solid 3px #3F54D2;
        padding-left: 27px; }
        .navigation .menu .menu-item:hover .menu-link {
          color: #1E2060;
          font-weight: 700; }
        .navigation .menu .menu-item:hover .menu-icon {
          color: #3F54D2; }
    .navigation .menu .menu-link {
      color: #8A89A4;
      display: block;
      font-weight: 600;
      margin-left: 15px; }
    .navigation .menu .menu-icon {
      color: #8A89A4; }

.transaction {
  border-bottom: 1px solid #1E2060;
  display: flex;
  align-items: center;
  padding: 10px 0; }
  .transaction.un-categorized {
    background-color: #83C03F; }
  .transaction .column {
    flex-basis: 20%;
    flex-grow: 1;
    padding: 0 10px;
    text-align: center;
    display: block; }
    .transaction .column.wide {
      flex-basis: 30%; }
    .transaction .column.narrow {
      flex-basis: 10%; }

.category-tree-wrapper .cat-delete {
  cursor: pointer;
  color: #5A7FF1;
  position: absolute;
  font-size: 15px;
  top: 2px;
  margin-left: 2px; }
  .category-tree-wrapper .cat-delete:hover {
    color: #83C03F; }

.category-tree-wrapper .cat-tree-branch {
  font-weight: 600;
  list-style: none;
  position: relative; }
  .category-tree-wrapper .cat-tree-branch:before {
    content: "\25E6";
    display: inline-block;
    margin-right: 3px; }
  .category-tree-wrapper .cat-tree-branch.level-0:before {
    color: #12153E; }
  .category-tree-wrapper .cat-tree-branch.level-1:before {
    color: #3F54D2; }
  .category-tree-wrapper .cat-tree-branch.level-2:before {
    color: #5A7FF1; }

.bank-create-form-wrapper input {
  margin: 0 5px 15px; }

/*# sourceMappingURL=style.css.map */