@import url('../fonts/proxima-nova/stylesheet.css');

// Colors
$color-white: #ffffff;
$color-ghost-white: #e9edf4;
$color-cadet-blue: #acb5c9;
$color-zaffre: #0b13a8;
$color-blue-jeans: #02a3ff;
$color-rose-ebony: #725055;
$color-cyan: #5bbce0;
$color-liberty: #5263b3;
$color-web-orange: #faa500;

// Fonts
$font-proxima-nova: 'Proxima Nova Rg', 'Segoe UI', Roboto, sans-serif
