@import url('../fonts/proxima-nova/stylesheet.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Colors
$color-white: #FFF;
$color-black: #000;
$color-cultured: #F6F6FA;
$color-cool-grey: #8A89A4;
$color-green-ryb: #83C03F;
$color-blue-crayola: #5A7FF1;
$color-cerulean-blue: #3F54D2;
$color-royal-blue-dark: #1E2060;
$color-space-cadet: #12153E;

// Fonts
$font-proxima-nova: 'Proxima Nova Rg', 'Segoe UI', Roboto, sans-serif
