.navigation {
  background-color: $color-white;

  .menu {
    display: flex;
    flex-direction: column;

    .menu-item {
      display: flex;
      margin: 10px 0;
      padding: 10px 10px 10px 30px;
      height: 25px;
      line-height: 25px;
      text-align: left;
      flex-wrap: nowrap;

      &:hover {
        background: linear-gradient(90deg, $color-cultured 15%, transparent 50%);
        border-left: solid 3px $color-cerulean-blue;
        padding-left: 27px;

        .menu-link {
          color: $color-royal-blue-dark;
          font-weight: 700;
        }

        .menu-icon {
          color: $color-cerulean-blue;
        }
      }
    }

    .menu-link {
      color: $color-cool-grey;
      display: block;
      font-weight: 600;
      margin-left: 15px;
    }

    .menu-icon {
      color: $color-cool-grey;
    }
  }
}
