@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

// Colors
$c-earie-black: #262626;
$c-charcoal: #364052;
$c-cadet-blue-crayola: #B7BFCC;
$c-alice-blue: #F1F5F8;
$c-off-white: #FAFBFD;
$c-white: #FFFFFF;
$c-dodger-blue: #0295FF;
$c-sheen-green: #6FD601;
$c-maximum-yellow-red: #FDC56E;
$c-turquoise: #4EE3C1;
$c-red-pigment: #EB2626;

// Fonts
$f-open-sans: 'Open Sans', sans-serif;
